<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <script src="https://kit.fontawesome.com/89bc05284d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Including the navbar -->
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}


<!-- Actual content of website -->
{% block content %}



{% endblock %}


    <!-- Including the footer -->
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

</body>
</html>