{% block banner %}


{% load static %}
<link rel="stylesheet" href="{% static '/css/enjoy_banner.css' %}">




<div class="enjoy">
    <img src="{% static 'images/enjoy.jpg' %}" alt="">
    <div class="enjoy-inner-stuff">
        <h1>Relax, You Deserve It</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eligendi, aliquid autem sequi odit tempora ratione dignissimos iusto nihil ut atque non vitae, laudantium, soluta quia expedita ullam dolore id.</p>
        <button><a href="#">Shop Now</a></button>
    </div>
</div>


{% endblock %}