{% block list %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/first_list_products.css' %}">


<div class="first-list-products">

    <div class="product-1">
        <h2>Accessories</h2>
        <img src="{% static 'images/a1.png' %}" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae aspernatur atque, tenetur velit culpa maiores perspiciatis esse rerum iusto dolorem provident nemo vitae totam cum. Molestias pariatur exercitationem minus numquam!</p>
    </div>

    
    <div class="product-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illum sit vero maxime itaque id eveniet, ipsa iure quod enim. Delectus dignissimos facilis iure consequuntur laudantium, temporibus provident minima eligendi.</p>
        <img src="{% static 'images/a2.png' %}" alt="">
        <h2>Vapes</h2>
    </div>


    <div class="product-3">
        <h2>Pipes</h2>
        <img src="{% static 'images/a3.png' %}" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita, quos est, sed nobis dolorem animi in illum quibusdam amet minima alias aspernatur! Facilis sapiente rem distinctio mollitia explicabo quisquam.</p>

    </div>

</div>



{% endblock %}