{% block ad %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/front_ad.css' %}">
<script src="{% static 'js/timer_countdown.js' %}"></script>

<div class="smoking-ad">

    <div class="main-ad-background">
        <img src="{% static 'images/smoking-1100x733.jpg' %}" alt="">
    </div>


    <div class="ad-and-offer">
        <img src="{% static 'images/ad.png' %}" alt="">
    </div>


    <div class="smoking-ad-main-container">

        <div class="smoking-ad-time-offer">
            <p id="ad-p-1">For a limited time you can buy one and get one free.</p>
            <p id="ad-p-2"></p>
            <button type="button" class="btn btn-danger"><a href="#">Learn More</a></button>
        </div>

        <p id="ad-p-3">E-cigarettes are significantly less harmful than smoking</p>
        <br>
        <small id="ad-small">The aim is to provide the sensation of inhaling tobacco smoke, without the smoke.</small>
    </div>

</div>


{% endblock %}