{% block maps %}


{% load static %}
<link rel="stylesheet" href="{% static '/css/google_maps.css' %}">



<h1 id="our-best-products-h1">Our Loctations</h1>
<br><br><br>
<div class="our-locations">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d429082.05141394946!2d-97.26493937461092!3d32.83986246064766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s3D%20SMOKE%20SHOP!5e0!3m2!1sen!2sus!4v1673677533622!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!-- here -->
<br><br><br>
<div class="separator-border" style="background: white;width: 90%;height: 1%;margin: auto;">
</div>
<br><br>
<div class="our-times">
    <h2 class="open-hours"><a href="#">123 Street Dr Arlington TX - 8am to 10pm </a></h2>
    <h2 class="open-hours"><a href="#">123 Street Dr Arlington TX - 8am to 10pm </a></h2>
    <h2 class="open-hours"><a href="#">123 Street Dr Arlington TX - 8am to 10pm </a></h2>
    <h2 class="open-hours"><a href="#">123 Street Dr Arlington TX - 8am to 10pm </a></h2>
    <h2 class="open-hours"><a href="#">123 Street Dr Arlington TX - 8am to 10pm </a></h2>
</div>


{% endblock %}