{% extends 'base.html' %}




{% block content %}
<title>3D Smoke Shop | Home</title>

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% include 'front_ad.html' %}

<br><br>

<div class="separator-border" style="background: white;width: 90%;height: 1%;margin: auto;">

</div>


<br><br><br><br><br>


{% include 'first_list_products.html' %}


<br><br><br>

{% include 'our_best_products.html' %}

<br><br><br>

<div class="separator-border" style="background: white;width: 90%;height: 1%;margin: auto;">

</div>






{% endblock %}