{% extends 'base.html' %}




{% block content %}
<title>TESTING</title>



{% load static %}
<link rel="stylesheet" href="{% static '/css/test.css' %}">
<link rel="stylesheet" href="{% static '/css/front_ad.css' %}">
<link rel="stylesheet" href="{% static '/css/first_list_products.css' %}">
<link rel="stylesheet" href="{% static '/css/our_best_products.css' %}">
<script src="{% static 'js/timer_countdown.js' %}"></script>

<div class="smoking-ad">

    <div class="main-ad-background">
        <img src="{% static 'images/smoking-1100x733.jpg' %}" alt="">
    </div>


    <div class="ad-and-offer">
        <img src="{% static 'images/ad.png' %}" alt="">
    </div>


    <div class="smoking-ad-main-container">

        <div class="smoking-ad-time-offer">
            <p id="ad-p-1">For a limited time you can buy one and get one free.</p>
            <p id="ad-p-2"></p>
            <button type="button" class="btn btn-danger"><a href="#">Learn More</a></button>
        </div>

        <p id="ad-p-3">E-cigarettes are significantly less harmful than smoking</p>
        <br>
        <small id="ad-small">The aim is to provide the sensation of inhaling tobacco smoke, without the smoke.</small>
    </div>

</div>





<br><br>

<div class="separator-border" style="background: white;width: 90%;height: 1%;margin: auto;">

</div>


<br><br><br><br><br>


<div class="first-list-products">

    <div class="product-1">
        <h2>Accessories</h2>
        <img src="{% static 'images/a1.png' %}" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae aspernatur atque, tenetur velit culpa maiores perspiciatis esse rerum iusto dolorem provident nemo vitae totam cum. Molestias pariatur exercitationem minus numquam!</p>
    </div>

    
    <div class="product-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illum sit vero maxime itaque id eveniet, ipsa iure quod enim. Delectus dignissimos facilis iure consequuntur laudantium, temporibus provident minima eligendi.</p>
        <img src="{% static 'images/a2.png' %}" alt="">
        <h2>Vapes</h2>
    </div>


    <div class="product-3">
        <h2>Pipes</h2>
        <img src="{% static 'images/a3.png' %}" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita, quos est, sed nobis dolorem animi in illum quibusdam amet minima alias aspernatur! Facilis sapiente rem distinctio mollitia explicabo quisquam.</p>

    </div>

</div>



<br><br><br>

<div class="separator-border" style="background: white;width: 90%;height: 1%;margin: auto;">

</div>

<br><br><br>



<h1 id="our-best-products-h1">Our Best Products</h1>
<div class="our-best-products">

    <div class="first-product-pair">

        <div class="product-one">
            <h2>Product 1</h2>
            <img src="{% static 'images/a3.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita, quos est, sed nobis dolorem animi in illum quibusdam amet minima alias aspernatur! Facilis sapiente rem distinctio mollitia explicabo quisquam.</p>
            <h3>$79.99</h3>
        </div>


        <div class="product-two">
            <h2>Product 2</h2>
            <img src="{% static 'images/a3.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita, quos est, sed nobis dolorem animi in illum quibusdam amet minima alias aspernatur! Facilis sapiente rem distinctio mollitia explicabo quisquam.</p>
            <h3>$79.99</h3>
        </div>


        <div class="product-three">
            <h2>Product 3</h2>
            <img src="{% static 'images/a3.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita, quos est, sed nobis dolorem animi in illum quibusdam amet minima alias aspernatur! Facilis sapiente rem distinctio mollitia explicabo quisquam.</p>
            <h3>$79.99</h3>
        </div>
    </div>


    <div class="second-product-pair">

        <div class="product-four">
            <h2>Product 4</h2>
            <img src="{% static 'images/a3.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita, quos est, sed nobis dolorem animi in illum quibusdam amet minima alias aspernatur! Facilis sapiente rem distinctio mollitia explicabo quisquam.</p>
            <h3>$79.99</h3>
        </div>


        <div class="product-five">
            <h2>Product 5</h2>
            <img src="{% static 'images/a3.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita, quos est, sed nobis dolorem animi in illum quibusdam amet minima alias aspernatur! Facilis sapiente rem distinctio mollitia explicabo quisquam.</p>
            <h3>$79.99</h3>
        </div>


        <div class="product-six">
            <h2>Product 6</h2>
            <img src="{% static 'images/a3.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita, quos est, sed nobis dolorem animi in illum quibusdam amet minima alias aspernatur! Facilis sapiente rem distinctio mollitia explicabo quisquam.</p>    
            <h3>$79.99</h3>
        </div>
    </div>


</div>







<br><br><br><br><br>



<div class="enjoy">
    <img src="{% static 'images/enjoy.jpg' %}" alt="">
    <div class="enjoy-inner-stuff">
        <h1>Relax, You Deserve It</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eligendi, aliquid autem sequi odit tempora ratione dignissimos iusto nihil ut atque non vitae, laudantium, soluta quia expedita ullam dolore id.</p>
        <button><a href="#">Shop Now</a></button>
    </div>
</div>






{% endblock %}