/* main css code for the main container */
.first-list-products {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(48, 47, 47, 0.8);
    box-shadow: 0px 0px 10px 2px rgba(255,0,0,0.5), 0px 0px 20px 6px rgba(0,255,0,0.5), 0px 0px 30px 10px rgba(0,0,255,0.5);
}




/* css code for the first product */
.product-1 {
    width: 80%;
    padding: 10px;
}
/* css code for the product-1 paragraph */
.product-1 p {
    width: 90%;
    margin: auto;
    font-size: 80%;
    color: white;
    margin-bottom: 10px;
}
/* css code for the product-1 img */
.product-1 img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    height: 60%;
    transition: transform .3s;
}
/* css code for the image hover effect */
.product-1 img:hover {
    transform: scale(1.1);
}
/* css code for the product-1 h2 */
.product-1 h2 {
    color: white;
    text-shadow: 3px 3px black;
}
/* css code for product-1 button  */
.product-1 button {
    padding: 15px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
}
/* css code for product-1 button a */
.product-1 button a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}




/* css code for the first product */
.product-2 {
    width: 80%;
}
/* css code for the product-2 paragraph */
.product-2 p {
    width: 90%;
    margin: auto;
    color: white;
    font-size: 80%;
    margin-bottom: 10px;
}
/* css code for the product-2 img */
.product-2 img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    height: 60%;
    transition: transform .3s;
}
/* css code for the image hover effect */
.product-2 img:hover {
    transform: scale(1.1);
}
/* css code for the product-2 h2 */
.product-2 h2 {
    color: white;
    text-shadow: 3px 3px black;
}
/* css code for product-2 button  */
.product-2 button {
    padding: 15px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
}
/* css code for product-2 button a */
.product-2 button a{
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
}



/* css code for the first product */
.product-3 {
    width: 80%;
    text-align: center;
}
/* css code for the product-3 paragraph */
.product-3 p {
    width: 90%;
    color: white;
    font-size: 80%;
}
/* css code for the product-3 img */
.product-3 img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    height: 60%;
    transition: transform .3s;
}
/* css code for the image hover effect */
.product-3 img:hover {
    transform: scale(1.1);
}
/* css code for the product-3 h2 */
.product-3 h2 {
    color: white;
    text-shadow: 3px 3px black;
}
/* css code for product-3 button  */
.product-3 button {
    padding: 15px;
    width: 30%;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}
/* css code for product-3 button a */
.product-3 button a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}



/* css code for screen 1099 width */
@media (max-width:1099px) {
    .product-1 button {
        width: 40%;
    }
    .product-2 button {
        width: 40%;
    }
    .product-3 button {
        width: 40%;
    }
}



/* css code for screen 839 width */
@media (max-width:839px) {
    .product-1 button {
        width: 50%;
    }
    .product-2 button {
        width: 50%;
    }
    .product-3 button {
        width: 50%;
    }
}


/* css code for screen 687 width */
@media (max-width:687px) {
    .product-1 button {
        width: 60%;
    }
    .product-2 button {
        width: 60%;
    }
    .product-3 button {
        width: 60%;
    }
}



/* css code for the mobile view */
@media (max-width:591px){
    /* css code for the main container holding the products */
    .first-list-products {
        border: 2px solid black;
        display: flex;
        flex-direction: column;

    }

    /* css code for the first product */
    .product-1 {
        margin-bottom: 10px;
        border-bottom: 2px solid black;
    }

    /* css code for the buttons */
    .product-1 button {
        width: 40%;
    }
    .product-2 button {
        width: 40%;
    }
    .product-3 button {
        width: 40%;
    }

    /* css code for the second product */
    .product-2 {
        margin-bottom: 10px;
        border-bottom: 2px solid black;
    }

    /* css code for the third product */
    .product-3 {
        margin-bottom: 10px;
        border-bottom: 2px solid black;
    }

}